body{
    background: #1f2632;
    color: #fff;
    font-family: Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .info {
    width: 350px;
    height: 200px;
    background-color: #323a49;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

main .info h6 {
    font-size: 11px;
    color: #52ffa8;
    letter-spacing: 3px;
    margin-bottom: 10px;
    padding: 10px 0;
}

main .info p {
    margin-bottom: 15px;
}

main .info img {
    width: 100%;
}

main .img {
    background-color: #52ffa8;
    box-shadow: 0px 4px 15px rgba(82, 255, 169, 0.842);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    text-align: center;
    transform: translateY(-50%);
    
}

main .img img {
    width: 15px;
    height: 15px;
    cursor: pointer;   
}

